apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argo-ci
generatorOptions:
  disableNameSuffixHash: true
resources:
  # argo workflows
  - namespace.yaml
  - https://github.com/argoproj/argo-workflows/releases/download/v3.4.5/install.yaml
  - workflow-rbac.yaml
  - rollout-rbac.yaml
  # argo events
  - https://raw.githubusercontent.com/argoproj/argo-events/stable/manifests/install.yaml
  - https://raw.githubusercontent.com/argoproj/argo-events/stable/manifests/install-validating-webhook.yaml
  - event-bus.yaml
  - event-source.yaml
  - event-rbac.yaml
  - event-sensor.yaml
  # ingress
  - ingress.yaml
patchesStrategicMerge:
  - argo-patch.yaml
secretGenerator:
  - name: git-secret
    envs:
    - kaniko/git-secret
  - name: git-ssh
    files:
      - .ssh/id_rsa
  - name: git-known-hosts
    files:
      - .ssh/known_hosts
configMapGenerator:
  - name: harbor-config
    files:
      - kaniko/config.json
  - name: rollout-kubeconfig
    files:
      - rollout/config
